/* ベースCSS */
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

/* Block, Element, Modifier */
.head {
  width: 1080px;
  margin: 0px auto;
  background-color: #eee;
}

.head-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.head-section_justify-content_right {
  justify-content: right;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
}
