/* ベースCSS */
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

/* Block, Element, Modifier */
.head {
  width: 1080px;
  margin: 0px auto;
  background-color: #eee;
}

.head-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.head-section_justify-content_right {
  justify-content: right;
}

.btn {
  display: inline-block;
  width: 300px;
  padding: 20px 10px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  transition: 0.25s;
  border-width: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  background-color: #dd742c;
}

.btn:hover {
  opacity: 0.5;
}

.btn_size_small {
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.btn_long {
  width: 160px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
}
