/* ベースcss */
body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  color: #0069ff;
}

img {
  max-width: 100%;
  vertical-align: top;
}

/* ベースcss以外 */

.header {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #000;
}

.header__inner {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #555;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
}

.footer--border-top-gray {
  border-top: 1px solid #777;
}

.footer__inner {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer__copy-right {
  font-size: 12px;
  color: #eee;
}

.content {
  max-width: 1230px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
}

.content--has-column {
  display: flex;
  justify-content: space-between;
}

.content__main {
  flex: 1;
  margin-right: 3.25203%;
}

.content__side {
  flex: 0 0 260px;
}

@media screen and (max-width: 768px) {
  .content--has-column {
    flex-direction: column;
  }
  .content__main {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
